@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #515151;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #515151;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom RTL for Tailwind CSS */
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
